body {
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: bolder;
  color: aliceblue;
  background-color: lightgray;
  background-image: url(https://www.stylist.co.uk/images/app/uploads/2021/06/01164914/to-do-list-1680x880.jpg?w=1680&h=880&fit=max&auto=format%2Ccompress);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.input-container>input {
  width: 450px;
  height: 35px;
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 50px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.input-container>button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: pink;
  font: 2rem;
  margin-top: 20px;
}

.container {
  position: relative;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.todo {
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  opacity: 75%;
  position: relative;
  border-radius: 10px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0 5px;
  margin-top: 10px;
}

.actions>button {
  background: transparent;
  background-color: grey;
  color: white;
  margin-inline: 5px;
  border-radius: 20px;
}

.actions>input {
  width: 50px;
  height: 20px;
  border-radius: 5px;
}